/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/* Default (Light Mode) Colors */
:root {
    --bg-color: #f4f4f4;
    --text-color: #333;
    --header-bg-color: #3498db;
    --header-text-color: #fff;
    --nav-bg-color: #1a1a1a;
    --nav-text-color: #fff;
    --link-color: #3498db;
    --link-hover-color: #2980b9;
    --container-bg-color: #fff;
    --container-shadow-color: rgba(0, 0, 0, 0.1);
    --quote-bg-color: #f9f9f9;
    --quote-text-color: #555;
    --footer-bg-color: #1a1a1a;
    --footer-text-color: #fff;
}

/* Dark Mode Colors */
body.dark-mode {
    --bg-color: #121212;
    --text-color: #e0e0e0;
    --header-bg-color: #1e88e5;
    --header-text-color: #ffffff;
    --nav-bg-color: #1c1c1c;
    --nav-text-color: #e0e0e0;
    --link-color: #64b5f6;
    --link-hover-color: #42a5f5;
    --container-bg-color: #1e1e1e;
    --container-shadow-color: rgba(255, 255, 255, 0.1);
    --quote-bg-color: #2a2a2a;
    --quote-text-color: #b0bec5;
    --footer-bg-color: #1c1c1c;
    --footer-text-color: #e0e0e0;
}

/* General Styles */
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1,
h2,
h3 {
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
    color: var(--link-hover-color);
}

/* Text Style */
.black-outlined-text {
    text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black,
        -0.5px 0.5px 0 black, 0.5px 0.5px 0 black;
}
/* Navigation Styles */
nav {
    background-color: var(--nav-bg-color);
    color: var(--nav-text-color);
    padding: 10px 0;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

nav a {
    margin: 0 15px;
    color: var(--nav-text-color);
    font-weight: bold;
    padding: 10px 0;
}

nav a:hover {
    color: var(--link-hover-color);
}

/* Container Styles */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--container-bg-color);
    box-shadow: 0 0 10px var(--container-shadow-color);
    flex: 1;
}

/* Header Styles */
header {
    position: relative;
    text-align: center;
    padding: 50px 0;
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #333;
}

header p {
    font-size: 1.2em;
    color: var(--header-text-color);
}

/* Dark Mode Toggle Button */
#dark-mode-toggle {
    background-color: var(--header-bg-color);
    padding: 0;
    border: #1a1a1a;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
    top: 20px;
    right: 20px;
}

#dark-mode-toggle img {
    width: 30px;
    height: 30px;
    display: inline-block;
}

#dark-mode-toggle img:last-child {
    display: none;
}

.dark-mode #dark-mode-toggle img:first-child {
    display: none;
}

.dark-mode #dark-mode-toggle img:last-child {
    display: block;
}

#dark-mode-toggle:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
/* Profile Image Styles */
.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px auto;
    display: block;
    border: 5px solid var(--header-bg-color);
}

.profile-image:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 6px var(--container-shadow-color);
}

/* About Me Random Quote */
.random-quote {
    margin: 20px auto;
    padding: 20px;
    font-style: italic;
    font-size: 1.5rem;
    max-width: 600px;
    text-align: center;
    border-radius: 10px;
    background-color: var(--quote-bg-color);
    color: var(--quote-text-color);
    box-shadow: 0 4px 6px var(--container-shadow-color);
    overflow: hidden;
    position: relative;
}

.random-quote span {
    display: inline-block;
    opacity: 0;
    transform: translateX(-20px);
    animation: slideIn 0.5s forwards;
    white-space: pre;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Social Media Icons */
.social-icons {
    text-align: center;
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
    color: var(--link-color);
    font-size: 1.5em;
}

.social-icons a:hover {
    color: var(--link-hover-color);
}

/* Skill Set Icons */
.skill-set {
    text-align: center;
    margin-top: 50px;
}

.skill-set h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: var(--text-color);
}

.skill-set .skill {
    position: relative;
    display: inline-block;
    margin: 0 15px;
}

.skill-set .skill img {
    width: 60px;
    height: 60px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-set .skill:hover img {
    transform: scale(1.1);
    box-shadow: 0 0 10px var(--container-shadow-color);
}

.skill-set .skill .tooltip {
    visibility: hidden;
    width: 100px;
    background-color: var(--nav-bg-color);
    color: var(--nav-text-color);
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -50px;
    opacity: 0;
    transition: opacity 0.3s;
}

.skill-set .skill:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

/* Footer Styles */
footer {
    text-align: center;
    align-items: center;
    margin-top: 25px;
    padding: 10px 0;
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    width: 100%;
}

/* Image Styles */
img {
    max-width: 100%;
    height: auto;
}

.about-me {
    text-align: center;
}

/* Contact Style*/
.contact-info {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    background-color: var(--container-bg-color);
    border: 1px solid var(--container-shadow-color);
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--container-shadow-color);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.contact-info p {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 20px;
    font-weight: bold;
}

.contact-info div {
    margin: 15px 0;
}

.contact-info a {
    display: inline-block;
    margin: 0 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-info a img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 4px 6px var(--container-shadow-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-info a:hover img {
    transform: scale(1.1);
    box-shadow: 0 8px 15px var(--container-shadow-color);
}

.contact-info a:hover {
    transform: translateY(-5px);
}

.comment-section {
    margin-top: 50px;
    padding: 20px;
    background-color: var(--container-bg-color);
    border: 1px solid var(--container-shadow-color);
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--container-shadow-color);
}

.comment-section h2 {
    margin-bottom: 20px;
    color: var(--text-color);
}

.comment-section form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--text-color);
}

.comment-section form input,
.comment-section form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--container-shadow-color);
    border-radius: 5px;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 1rem;
}

.comment-section form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--link-color);
    color: var(--header-text-color);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.comment-section form button:hover {
    background-color: var(--link-hover-color);
}

.comment-list {
    margin-top: 50px;
    padding: 20px;
    background-color: var(--container-bg-color);
    border: 1px solid var(--container-shadow-color);
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--container-shadow-color);
}

.comment {
    margin-bottom: 20px;
}

.comment p {
    margin: 5px 0;
}

.comment-meta {
    font-size: 0.8rem;
    color: var(--quote-text-color);
}

/* Gallery Styles */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.gallery .card {
    border: 5px solid var(--nav-bg-color);
    border-radius: 15px;
    overflow: hidden;
    flex: 1 1 calc(33.333% - 40px);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: var(--container-bg-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px var(--container-shadow-color);
}

.gallery .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px var(--container-shadow-color);
    border-color: var(--link-color);
}

.gallery .card img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Blog Styles */
.blog-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    align-items: center;
}

.blog-container > div {
    width: 100%;
    max-width: 600px;
    background-color: var(--container-bg-color);
    border: 1px solid var(--container-shadow-color);
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--container-shadow-color);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog-container > div:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px var(--container-shadow-color);
}

.blog-container img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.blog-container h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: var(--text-color);
}

.blog-container p {
    font-size: 0.9rem;
    color: var(--quote-text-color);
    line-height: 1.5;
}

.blog-container a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: var(--link-color);
    color: var(--header-text-color);
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.blog-container a:hover {
    background-color: var(--link-hover-color);
}

/* Blog Modal Button Style*/
.modal {
    display: none;
    position: fixed; 
    z-index: 1000;
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%); 
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    align-items: center;
    justify-content: center;
}

.modal.show {
    display: flex;
}

.modal-content {
    background-color: var(--container-bg-color);
    padding: 30px;
    border-radius: 15px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 8px 16px var(--container-shadow-color);
    animation: fadeIn 0.3s ease-in-out;
    position: relative;
}
.close-button {
    color: var(--text-color);
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-button:hover {
    color: var(--link-hover-color);
}

.modal-content h2 {
    margin-top: 0;
    color: var(--text-color);
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.modal-content form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: var(--text-color);
}

.modal-content form input,
.modal-content form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--container-shadow-color);
    border-radius: 5px;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 1rem;
}

.modal-content form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--link-color);
    color: var(--header-text-color);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-content form button:hover {
    background-color: var(--link-hover-color);
}

/* Animation for Modal */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Article Styles */
.article-container {
    width: 100%;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: var(--container-bg-color);
    border: 1px solid var(--container-shadow-color);
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--container-shadow-color);
    line-height: 1.8;
    color: var(--text-color);
    overflow: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    box-sizing: border-box;
}

.article-container h1 {
    font-size: 2.8rem;
    margin-bottom: 20px;
    color: var(--text-color);
    text-align: left;
    font-weight: bold;
    border-bottom: 3px solid var(--text-color);
    padding-bottom: 10px;
}

.article-container img {
    display: block;
    max-width: 100%;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 6px 12px var(--container-shadow-color);
}

.article-container p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: var(--quote-text-color);
    text-align: justify;
}

.article-container hr {
    border: none;
    border-top: 1px solid var(--container-shadow-color);
    margin: 30px 0;
}

.article-container a {
    color: var(--link-color);
    text-decoration: underline;
    font-weight: bold;
}

.article-container a:hover {
    color: var(--link-hover-color);
    text-decoration: none;
}

.article-meta {
    font-size: 0.9rem;
    color:#2980b9;
    margin-bottom: 20px;
    text-align: center;
}

.article-meta span {
    text-align: center;
    margin-right: 10px;
}

.article-container blockquote {
    font-size: 1.3rem;
    font-style: italic;
    color: var(--quote-tsext-color);
    border-left: 4px solid var(--link-color);
    padding-left: 15px;
    margin: 20px 0;
    background-color: var(--quote-bg-color);
    border-radius: 5px;
}

.article-container ul,
.article-container ol {
    margin: 20px 0;
    padding-left: 40px;
}

.article-container ul li,
.article-container ol li {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .gallery .card {
        flex: 1 1 calc(50% - 40px);
    }

    .article-container {
        padding: 15px;
        margin: 20px auto;
    }

    .article-container h1 {
        font-size: 1.8rem;
        text-align: center;
        margin-bottom: 15px;
    }

    .article-container p {
        font-size: 1rem;
        text-align: justify;
        line-height: 1.6;
    }

    .article-container img {
        max-width: 100%;
        height: auto;
        margin: 15px auto;
        display: block;
    }

    .article-container blockquote {
        font-size: 1rem;
        padding-left: 10px;
        margin: 15px 0;
    }

    .article-container ul,
    .article-container ol {
        padding-left: 20px;
    }

    .article-container ul li,
    .article-container ol li {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .gallery .card {
        flex: 1 1 calc(100% - 40px);
    }

    .article-container {
        padding: 10px;
        margin: 15px auto;
    }

    .article-container h1 {
        font-size: 1.6rem;
    }

    .article-container p {
        font-size: 0.9rem;
    }

    .article-container blockquote {
        font-size: 0.9rem;
    }

    .article-container ul li,
    .article-container ol li {
        font-size: 0.9rem;
    }
}
